{% include "plantilla.html" %}


<div class="container py-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-12 col-md-6 offset-md-3">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form}}
                            <div class="d-flex justify-conttent-end">
                                <a href="{% url 'cliente' %}" class="btn btn-warning btn-xs btn-flat">
                                    cancelar
                                </a>
                                &nbsp;
                                <input type="submit" value="Guardar" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>