{% include "plantilla.html" %}
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

<div class="container py-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-12 col-md-6 offset-md-3">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form}}
                            <script>
                                $(function () {
                                    $('.datetime-input').datetimepicker({
                                        format:'YYYY-MM-DD HH:mm:ss'
                                    });
                                });
                            </script>
                            <div class="d-flex justify-conttent-end">
                                <a href="{% url 'salon' %}" class="btn btn-warning btn-xs btn-flat">
                                    cancelar
                                </a>
                                &nbsp;
                                <input type="submit" value="Guardar" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

