{% include "plantilla.html" %}


<title>{{titulo}}</title>


<div class="container py-4">
    <div class="row">
        <div class="col-md-10">
            <h2>Listado de usuarios</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>nombre</th>
                            <th>apellido</th>
                            <th>identificacion</th>
                            <th>telefono</th>
                            <th>correo</th>
                            <th>departamento</th>
                            <th>ciudad</th>
                            <th>edad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in object_list %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{c.nombre}}</td>
                          <td>{{c.apellido}}</td>
                          <td>{{c.identificacion}}</td>
                          <td>{{c.telefono}}</td>
                          <td>{{c.correo}}</td>
                          <td>{{c.departamento}}</td>
                          <td>{{c.ciudad}}</td>
                          <td>{{c.edad}}</td>
                          <td>
                            <a href="{% url 'ActualizarClient' c.id %}" class="btn btn-warning btn-xs btn-flat">
                                <i class="fas fa-edit">Actualizar</i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'EliminarCliente' c.id %}" class="btn btn-warning btn-xs btn-flat">
                                <i class="fas fa-edit">eliminar</i>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

