<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'cliente' %}">Empresa</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'cliente' %}">Usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'salon' %}">Salones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CrearUsuario' %}">Crear Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'CrearSalon' %}">Asignar salon</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'VistaGeneral' %}">Vista General</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
</body>
</html>