{% include "plantilla.html" %}


<title>{{titulo}}</title>


<div class="container py-4">
    <div class="row">
        <div class="col-md-10">
            <h2>Listado de usuarios con salon confirmado</h2>
            <form action="" method="GET">
                desde:<input type="date" name="fecha_inicial">
                hasta: <input type="date" name="fecha_final">
                <input type="submit" value="buscar">
            </form>
            
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        
                        <th>#</th>
                        <th>nombre</th>
                        <th>identificacion</th>
                        <th>telefono</th>
                        <th>ciudad</th>
                        <th>fecha de evento</th>
                        <th>cantidad de personas</th>
                        <th>motivo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        
                        {% for d in salon %}
                            <td>{{forloop.counter}}</td>
                            <td>{{d.cliente_id.nombre}}</td>
                            <td>{{d.cliente_id.identificacion}}</td>
                            <td>{{d.cliente_id.telefono}}</td>
                            <td>{{d.cliente_id.ciudad}}</td>
                            <td>{{d.fecha_evento}}</td>
                            <td>{{d.cantidad_personas}}</td>
                            <td>{{d.motivo}}</td>  
                        </tr>
                        {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

